@import "tailwindcss";

/* :root {
  --background: #000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground:  #eeee;
  }
} 

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */





/* globals.css */
html, body {
  background-color: #0f172a; /* داك غراي 900 */
  color: #f1f5f9; /* نص فاتح */
  min-height: 100%;
  margin: 0;
  padding: 0;
}
/* /* Dark background for whole site */
 